body {
    background-image: url("/images/book-min-2.jpg");
    overflow-x: hidden;
}

.aligner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.loginAuth {
    background: rgba(0, 0, 0, 0.75);
    padding: 30px;
    transition: 0.4s;
    color:white;
}

.loginAuth:hover{
    padding: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.44);
}

.err input{
    transition: 0.5s;
     border-color: rgb(255, 125, 125) !important;
 }

.loginAuth img {
    border-radius: 50%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 1px #000063 dashed;
    padding-bottom: 0;
}

.loginAuth h3 {
    text-align: center;
    padding-bottom: 20px
}

.loginAuth input {
    background-color: transparent;
    /*text-align: center;*/
    border:0;
    border-radius: 0;
    border-bottom: 1px solid white;
    color:white
}

.loginAuth input:hover{
    background-color: transparent;
    color:white
}

.loginAuth input:focus {
    background-color: transparent;
    color: white;
    outline: 0;
    box-shadow: none ;
}

.swapForm{
    color: grey;
    padding-top: 10px;
    cursor: pointer;
}

.btn-wrapper .btn{
    margin-bottom:5px;
}